# Підготовка бази даних

обовьязково встановлюємо ці бібліотеки для коректної роботи магічних методів jupyter notebook, або встановюємо всі необхідні залежності через requirements.txt

In [1]:
# !pip install psycopg2-binary
# !pip install ipython-sql

створюємо volumes для збереження даних поза контейнером та сам контейнер

In [2]:
!docker volume create pgdata

pgdata

In [3]:
!docker run -d -e POSTGRES_USER=leshafamilenko -e POSTGRES_PASSWORD=gugaga98 -e POSTGRES_DB=my_data -p 5432:5432 -v pgdata:/var/lib/postgresql/data postgres

Unable to find image 'postgres:latest' locally
latest: Pulling from library/postgres

a096dd42: Pulling fs layer
791cead4: Pulling fs layer
9d4caf63: Pulling fs layer
5cc18d98: Pulling fs layer
4434669b: Pulling fs layer
3e99974b: Pulling fs layer
5d80af0f: Pulling fs layer
361e1963: Pulling fs layer
63053d93: Pulling fs layer
cb9fc671: Pulling fs layer
0eae30b3: Pulling fs layer
9082d41c: Pulling fs layer
48e79784: Pulling fs layer
Digest: sha256:994cc3113ce004ae73df11f0dbc5088cbe6bb0da1691dd7e6f55474202a4f211Downloading  1.016MB/1.379MBDownload complete Downloading  58.64MB/108.7MBDownloading  71.01MB/108.7MB
Status: Downloaded newer image for postgres:latest
2d1b0c3a878f0cedb820a9caa4818753d97b6f4f515c88596ff1ddf983d08fdc

In [4]:
# !docker stop 6f60d7f0b9731a8c4a8ce4ac4553aa89ce353c2dab9d0aed6daa29cd5017dacb

даємо базі даних час на створення та зьєднання

In [5]:
import time

time.sleep(3)

підʼєднємось до бази

In [6]:
%load_ext sql
%sql postgresql://leshafamilenko:gugaga98@localhost:5432/my_data

створюємо необхідні таблиці

In [7]:
%%sql
CREATE TABLE users (
    id SERIAL PRIMARY KEY,
    fullname VARCHAR(100),
    email VARCHAR(100) UNIQUE
);

 * postgresql://leshafamilenko:***@localhost:5432/my_data
Done.

[]

In [8]:
%%sql
CREATE TABLE status (
    id SERIAL PRIMARY KEY,
    name VARCHAR(50) UNIQUE
);

 * postgresql://leshafamilenko:***@localhost:5432/my_data
Done.

[]

In [9]:
%%sql
INSERT INTO status (name) VALUES ('new'), ('in progress'), ('completed');

 * postgresql://leshafamilenko:***@localhost:5432/my_data
3 rows affected.

[]

In [10]:
%%sql
CREATE TABLE tasks (
    id SERIAL PRIMARY KEY,
    title VARCHAR(100),
    description TEXT,
    status_id INTEGER REFERENCES status(id),
    user_id INTEGER REFERENCES users(id) ON DELETE CASCADE
);

 * postgresql://leshafamilenko:***@localhost:5432/my_data
Done.

[]

заповнюємо базу фейковими даними

In [11]:
import psycopg2
import pandas as pd

from seed import seed_users, seed_tasks

In [12]:
db_params = {
    'dbname': 'my_data',
    'user': 'leshafamilenko',
    'password': 'gugaga98',
    'host': 'localhost',
    'port': '5432'
}

conn = psycopg2.connect(**db_params)
cur = conn.cursor()

seed_users(10, cur)
seed_tasks(30, cur)

conn.commit()
cur.close()
conn.close()

прописуємо для зручності функцію для селект запитів через пандас

In [13]:
def make_select(query):
    conn = psycopg2.connect(**db_params)
    result = pd.read_sql_query(query, conn)
    conn.close()
    return result

перевіряємо дані

In [14]:
make_select("SELECT * FROM tasks LIMIT 5;")

/var/folders/7x/q4zhf1wx08z6l2f4bqz5b8dc0000gn/T/ipykernel_23828/3230564306.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql_query(query, conn)

,id,title,description,status_id,user_id
0,1,News many statement glass a.,Purpose perhaps because chance matter city cha...,3,7
1,2,Big weight cause read exactly.,Experience because can space. Laugh walk emplo...,3,1
2,3,Southern help want enough shake environmental.,Well treat those consider. Light break hope in...,3,9
3,4,Voice direction last.,He say food television. Play course upon respo...,1,1
4,5,Including fine change data case help usually.,Admit way strong remain herself offer. Investm...,3,4

In [15]:
make_select("SELECT * FROM users LIMIT 5;")

/var/folders/7x/q4zhf1wx08z6l2f4bqz5b8dc0000gn/T/ipykernel_23828/3230564306.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql_query(query, conn)

   id           fullname                          email
0   1  Eric Williams DDS  stephaniewilliams@example.com
1   2       Rachel Smith       jenniferholt@example.net
2   3      Kevin Hampton             yadams@example.org
3   4      Brandon Mayer   kennethstevenson@example.org
4   5      Brenda Carter             john71@example.com

In [16]:
make_select("SELECT * FROM status LIMIT 5;")

/var/folders/7x/q4zhf1wx08z6l2f4bqz5b8dc0000gn/T/ipykernel_23828/3230564306.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql_query(query, conn)

   id         name
0   1          new
1   2  in progress
2   3    completed

# Запити для виконання:

### Отримати всі завдання певного користувача. Використайте SELECT для отримання завдань конкретного користувача за його user_id.

In [18]:
make_select("SELECT * FROM tasks WHERE user_id = 1;")

/var/folders/7x/q4zhf1wx08z6l2f4bqz5b8dc0000gn/T/ipykernel_23828/3230564306.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql_query(query, conn)

,id,title,description,status_id,user_id
0,2,Big weight cause read exactly.,Experience because can space. Laugh walk emplo...,3,1
1,4,Voice direction last.,He say food television. Play course upon respo...,1,1
2,9,Tonight pretty billion gun office view.,Me guy final. Miss defense state skin.\nNow so...,3,1

### Вибрати завдання за певним статусом. Використайте підзапит для вибору завдань з конкретним статусом, наприклад, 'new'.

In [22]:
make_select("SELECT * FROM tasks WHERE status_id in (SELECT id FROM status WHERE name = 'new');")

/var/folders/7x/q4zhf1wx08z6l2f4bqz5b8dc0000gn/T/ipykernel_23828/3230564306.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql_query(query, conn)

,id,title,description,status_id,user_id
0,4,Voice direction last.,He say food television. Play course upon respo...,1,1
1,6,Able huge idea weight camera threat enjoy whom.,Audience property fast natural. Entire thus sp...,1,3
2,11,Reason physical car sign successful address re...,Me star room PM feel baby. From agency somethi...,1,4
3,12,Consider hotel include score.,Individual goal this his put effort. Nature th...,1,2
4,14,Administration fact federal assume still each ...,Others spring successful reach later son. Desp...,1,3
5,21,Note most close agent actually try.,Benefit sometimes wall spring hard product. Sk...,1,5

### Оновити статус конкретного завдання. Змініть статус конкретного завдання на 'in progress' або інший статус.

In [23]:
%%sql
UPDATE tasks SET status_id = 3 WHERE id = 4;

 * postgresql://leshafamilenko:***@localhost:5432/my_data
1 rows affected.

[]

In [24]:
make_select("SELECT * FROM tasks WHERE id = 4;")

/var/folders/7x/q4zhf1wx08z6l2f4bqz5b8dc0000gn/T/ipykernel_23828/3230564306.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql_query(query, conn)

,id,title,description,status_id,user_id
0,4,Voice direction last.,He say food television. Play course upon respo...,3,1

### Отримати список користувачів, які не мають жодного завдання. Використайте комбінацію SELECT, WHERE NOT IN і підзапит.

In [25]:
make_select("SELECT * FROM users WHERE id NOT IN (SELECT user_id FROM tasks);")

/var/folders/7x/q4zhf1wx08z6l2f4bqz5b8dc0000gn/T/ipykernel_23828/3230564306.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql_query(query, conn)

   id     fullname              email
0  10  Steve Smith  isoto@example.org

### Додати нове завдання для конкретного користувача. Використайте INSERT для додавання нового завдання.

In [26]:
%%sql
INSERT INTO tasks (title, description, status_id, user_id)
VALUES ('New task', 'New task description', 1, (SELECT id FROM users WHERE fullname = 'Rachel Smith'));

 * postgresql://leshafamilenko:***@localhost:5432/my_data
1 rows affected.

[]

In [27]:
make_select("SELECT * FROM tasks JOIN users ON tasks.user_id = users.id WHERE users.fullname = 'Rachel Smith';")

/var/folders/7x/q4zhf1wx08z6l2f4bqz5b8dc0000gn/T/ipykernel_23828/3230564306.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql_query(query, conn)

,id,title,description,status_id,user_id,id,fullname,email
0,12,Consider hotel include score.,Individual goal this his put effort. Nature th...,1,2,2,Rachel Smith,jenniferholt@example.net
1,18,War candidate coach star.,School threat senior. Control occur single son...,2,2,2,Rachel Smith,jenniferholt@example.net
2,19,Parent recognize challenge oil radio ten actua...,Between down defense foreign role quite free. ...,2,2,2,Rachel Smith,jenniferholt@example.net
3,31,New task,New task description,1,2,2,Rachel Smith,jenniferholt@example.net

### Отримати всі завдання, які ще не завершено. Виберіть завдання, чий статус не є 'завершено'.

In [31]:
make_select("SELECT * FROM tasks WHERE status_id IN (SELECT id FROM status WHERE name != 'completed');")

/var/folders/7x/q4zhf1wx08z6l2f4bqz5b8dc0000gn/T/ipykernel_23828/3230564306.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql_query(query, conn)

,id,title,description,status_id,user_id
0,6,Able huge idea weight camera threat enjoy whom.,Audience property fast natural. Entire thus sp...,1,3
1,7,Industry herself international group.,Heart reflect moment street. Commercial realiz...,2,7
2,8,Far training result oil run.,Dream newspaper fire push. Small across that f...,2,8
3,10,Mission road plan environment owner.,After visit far subject music prepare social r...,2,6
4,11,Reason physical car sign successful address re...,Me star room PM feel baby. From agency somethi...,1,4
5,12,Consider hotel include score.,Individual goal this his put effort. Nature th...,1,2
6,13,Recently heart answer arm.,Push process four board finish full.\nRepresen...,2,4
7,14,Administration fact federal assume still each ...,Others spring successful reach later son. Desp...,1,3
8,16,Give thus together learn good page specific.,Dinner stage can value television including.\n...,2,5
9,17,Finally professor camera discuss indeed.,Them first available traditional. Occur realiz...,2,8
10,18,War candidate coach star.,School threat senior. Control occur single son...,2,2
11,19,Parent recognize challenge oil radio ten actua...,Between down defense foreign role quite free. ...,2,2
12,20,Skill enter ready.,Others arm yeah change wonder. It inside fly p...,2,9
13,21,Note most close agent actually try.,Benefit sometimes wall spring hard product. Sk...,1,5
14,22,Cost area certain citizen.,Continue fire of involve mind. Face develop lo...,2,5
15,23,Water again group member.,Occur something minute. Exist teacher human ge...,2,6
16,25,Instead at example experience.,Hold music number trip prove.\nDiscussion type...,2,5
17,26,Industry worry road project.,Local identify chair explain interview morning...,2,3
18,28,Language statement agent country within.,Recently picture offer language. Song performa...,2,4
19,31,New task,New task description,1,2

### Видалити конкретне завдання. Використайте DELETE для видалення завдання за його id.

In [32]:
%%sql
DELETE FROM tasks WHERE id = 4;

 * postgresql://leshafamilenko:***@localhost:5432/my_data
1 rows affected.

[]

In [34]:
make_select("SELECT * FROM tasks;").sort_values('id').head(5)

/var/folders/7x/q4zhf1wx08z6l2f4bqz5b8dc0000gn/T/ipykernel_23828/3230564306.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql_query(query, conn)

,id,title,description,status_id,user_id
0,1,News many statement glass a.,Purpose perhaps because chance matter city cha...,3,7
1,2,Big weight cause read exactly.,Experience because can space. Laugh walk emplo...,3,1
2,3,Southern help want enough shake environmental.,Well treat those consider. Light break hope in...,3,9
3,5,Including fine change data case help usually.,Admit way strong remain herself offer. Investm...,3,4
4,6,Able huge idea weight camera threat enjoy whom.,Audience property fast natural. Entire thus sp...,1,3